body{
    margin:0px;
}
/**********************************HEADER***********************************/
header{

    height: 215px;
    width: 1200xp;
    margin-left: 15%;
}
header .cont_header_1{
    height: 175px;
    width: 1200px;
    background: url(img/header_w.png);
}
header .cont_header_2{
    width: 1200px;
    height: 40px;
    background: url(img/h2_w.png);
    border-top: 1px solid #2F67A5;
    border-bottom: 1px solid #2F67A5;
}
header div{
    float:left;
}
/* DIVS H11/12/13*/
.h11{
    height: 175px;
    width: 20%;
    float: left;
}
.h12{
    height: 175px;
    width: 50%;
    float: left;
    font-family: cursive;
}

.h13{
    height: 175px;
    width: 30%;
    float: left;
    padding-bottom: 20px;
}
/* ELEMENTOS DE DIV H11/12/13*/
.h11 img {
    padding-left: 25px;
    padding-top: 12px;
    height: 150px;
    width: 150px;
    float:left;
}
.h11 .linea{
    height: 150px;
    width: 15px;
    margin-top: 12px;
    margin-left: 10px;
    background-color: #2F67A5;
    float:left;
}
.h12 #h12_p1{
    font-size: 25px;
    margin-bottom: 5px;
    color:white;
}
.h12 #h12_p2{
    margin-top: 0px;
}
.h12 .linea{
    width: 450px;
    height: 5px;
    background-color: #2F67A5;
}
.h13 img{
    margin-top: 20px;
    height: 130px;
}
/* DIVS H21/22*/
.h21 {
    height: 40px;
    width: 63%;
}
.h22 {
    height: 40px;
    width: 30.5%;
}
.h23 {
    height: 40px;
    width: 5%;
    float:left;
}
.h21 p{
    float:right;
    margin-right: 5px;
    margin-top:10px;
    font-family: cursive;
    color: #1E5799;
}

/* ELEMENTOS DE DIV H21 H22*/
.h22 input{
    /* Mostrar en 1 linea ambos inputs*/
    display:inline;
    height: 20px;
    width: 170px;
    margin-top: 8px;
}

.h23 button{
    height: 25px;
    width: 25px;
    margin-top: 8px;
    border: none;
    background: url( img/boton_login.png) no-repeat top left;

}
/*********************************CUERPO***********************************/
/* Cuerpo contiene a NAV y otro DIV dependiendo de la página*/
.cont_body{
    height: 600px;
    width: 1200px;
    margin-left: 15%;
}
.cont_body .body_left{
    height: 600px;
    width: 15%;
    background-color: #B3CACB;
}
.cont_body .body_right{
    height: 600px;
    /*height: auto;*/
    width: 85%;
    overflow: scroll;
    /*background-color: white;*/
    background: rgb(211,238,251);
background: -moz-linear-gradient(top, rgba(211,238,251,1) 0%, rgba(233,246,253,1) 100%);
background: -webkit-linear-gradient(top, rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%);
background: linear-gradient(to bottom, rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3eefb', endColorstr='#e9f6fd',GradientType=0 );
}
.cont_body .body_left, .cont_body .body_right{
    /* Contenedor izquierdo y derecho del body flotantes*/
    float:left;
}
/**********************************NAV***********************************/
nav {
    width: 20%;
    height: 600px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
   /* margin: 5px;*/
    padding: 10px;
    padding-left: 0px;
    /*margin-right: 10px;*/
    width: 170px;
    background-color: #8BC4E3;
    border-bottom: #2F67A5 1px solid;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background-color: #B3CACB;
}
/**********************************MIEMBROS***********************************/

.cont_miembros{
    height: auto;
    width: 100%;
    min-width: 60%;
    margin-left: 5%;
    margin-top: 3   %;
}
.cont_miembros_left{
    height: 600px;
    width: 45%;
    float:left;
}
.cont_miembros_right{
    height: 600px;
    width: 45%;
    float:left;
}

/* Características contenedor de miembro*/
.miembro {
    height: 150px;
    width: 98%;
    background-image: url(img/wallp.png);
    /*border: 1px solid black;*/
    border-radius: 5px;
}

.cont_miembros_left .miembro{
    margin-top:2%;
    margin-bottom: 2%;
}
.cont_miembros_right .miembro{
    margin-left: 2%;
    margin-top:2%;
    margin-bottom: 2%;
}
/* Características de los contenedores pequeños m1 m2 m3 y m4*/
.miembro .m1 {
    height: 150px;
    width: 35%;
    float:left;
}
.miembro .m2 {
    height: 150px;
    width: 30%;
    float:left;

    font-family: cursive;
    font-size: 12px;
}
.miembro .m3 {
    height: 150px;
    width: 35%;
    float:left;
    background-color: ##70C0FF;
}
/* FOTO MIEMBRO M1 */
.miembro .m1 img{
    height: 80px;
    width: 76px;
    float: left;
    border: 1px solid black;
}
.miembro .m1 #bloque_azul{
    height: 81px;
    width: 10px;
    background-color:cornflowerblue;
    float:left;
}
.m1 #bloque_azul{

    margin-top: 15%;
    margin-left: 10%;
}

.m1 img{
    margin-top: 15%;
    margin-left: 15%;
}
/* DATOS MIEMBRO M2 */
.m2 p.primero{
    margin-top: 15%;
}
/* BOTONES GESTION MIEMBROS M3 */

.m3 button {
    margin-left: 15%;
    width: 60%;
    height: 30px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.m3 .añadir{
    margin-top: 15%;
}

/**********************************FOOTER***********************************/


footer {
    clear: both;
    height: 175px;
    width: 1200px;
    margin-left: 15%;
    border-top: #2F67A5 10px solid;
    /* FONDO DEGRADADO */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0.99) 1%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0.99) 1%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0.99) 1%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
}

footer .f1{
    height: 175px;
    width: 20%;
    float: left;
}

footer .f1 img {
    padding-left: 25px;
    padding-top: 12px;
    height: 150px;
    width: 150px;
    float:left;
}
footer .f1 .linea{
    height: 150px;
    width: 15px;
    margin-top: 12px;
    margin-left: 10px;
    background-color: #2F67A5;
    float:left;
}

footer ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    float: left;
    margin: 3px;
    list-style-type: none;
}

footer ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    background-color: #8BC4E3;
}

/** F2 **/
.f2 {
    height: 175px;
    width: 50%;
    float: left;
    font-family: cursive;
}

.f2 .linea{
    width: 400px;
    height: 5px;
    background-color: #2F67A5;
}

.f2 #f12_p1 {
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}



/** F3  **/

.f3 {
    height: 175px;
    width: 30%;
    float: left;
}

.f3 img {
    width: 75%;
    float: right;
    padding-left: 80px;
    margin-right: 20px;
    margin-top: 40px;
}


/**********************************PROYECTOS***********************************/
/**TEXTO CONTENIDO PROYECTO**/
#contProy {
    font-size: 20px;
    margin-left: 10px;
}

/**CAJA PROYECTO**/

.proyecto {
    margin-left: 20px;
    background-color: #8BC4E3;
    width: 55%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.proyecto ul {
    list-style-type: none;
    padding: 0;
}

.proyecto ul li span {
    margin-left: 15px;
}

.proyecto table, td, th {
    border: 1px solid black;
}

.proyecto table {
    border-collapse: collapse;
    width: 90%;
    text-align: left;
}

.proyecto table th {
    height: 25px;
}

.proyecto table a {
    text-decoration: none;
    color: black;
}

